





<div class="container-fluid" >
  <div class="row content">
    <div class="col-sm-3 sidenav">
      <h1>Admin Panel</h1>
      <div class="nav">
        <div class="taboz">
          <ul class="nav nav-pills nav-stacked">
           
            <li><a href="#create-seller" >Create Seller</a></li>     
            <li><a href="#sellers" >Sellers</a></li>
            <li><a href="#create-moderator" >Create Moderator</a></li>         
            <li><a href="#view-edit-moderator" >View/edit moderator</a></li>
            
            

            
           
          </ul><br>
        </div>
      </div>
    </div>

    <div class="col-sm-9 tab-content" id="create-seller" >
       Seller  is created here
    </div>

    <div class="col-sm-9 tab-content" id="create-moderator" >
       moderator  is created here
    </div>

    <div class="col-sm-9 tab-content" id="sellers" >
       seller list +  edit
    </div>

    <div class="col-sm-9 tab-content" id="view-edit-moderator" >
       view / edit moderator
    </div>

    

  </div>
</div>

