<div class="row">
    <div class="col-xs-8 col-xs-offset-2">
        <div class="input-group">
            <div class="input-group-btn search-panel">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    	<span id="search_concept">{{searchInCategoryTitle}}</span> <span class="caret"></span>
                    </button>
                <!--<ul class="dropdown-menu" role="menu">
                      <li><a href="#contains">Contains</a></li>
                      <li><a href="#its_equal">It's equal</a></li>
                      <li><a href="#greather_than">Greather than ></a></li>
                      <li><a href="#less_than">Less than < </a></li>
                      <li class="divider"></li>
                      <li><a href="#all">Anything</a></li>
                    </ul>-->
                    <ul  class="list-group dropdown-menu">

                        <li *ngFor="let category of categoryList " class="list-group-item borderless" id="ozLi" >
                            <a (click)="categorySelected(category)" >{{category.category_name}}</a>

                            <div *ngIf="category.child_category.length>0">
                                <ul class="list-group inner borderless" style="padding-left:20px;">
                                    <li *ngFor = "let sub1 of category.child_category" class="list-group-item borderless" >
                                        <a (click)="categorySelected(sub1)">{{sub1.category_name}}</a>
                                    </li>                                    
                                </ul>
                            </div>
                        </li>                                             
                    </ul>
                    <!-->                   ORIGINAL
                     <ul class="list-group borderless dropdown-menu">
                        <li class="list-group-item borderless"><a href="#a">a</a></li>
                        <li class="list-group-item borderless"><a href="#b">b</a>
                            <ul class="list-group inner borderless" style="padding-left:20px;">
                                <li class="list-group-item borderless"><a href="#b1">b1</a></li>
                                <li class="list-group-item borderless"><a href="#b2">b2</a></li>
                            </ul>
                        </li>                       
                    </ul>-->
            </div>
            <input type="hidden" name="search_param" value="all" id="search_category">
            <input [(ngModel)]="searchString" type="text" class="form-control" name="x" placeholder="Search product..." id="search_string">
            <span class="input-group-btn">
                    <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search" (click)="search()"></span></button>
            </span>
        </div>
    </div>
</div>