<form class="form-horizontal" id="form-review">
    <div id="review">
        <p>There are no reviews for this product.</p>
    </div>
    <h2>Write a review</h2>
    <div class="form-group required">
        <div class="col-sm-12">
            <label class="control-label" for="input-name">Your Name</label>
            <input type="text" name="name" value="ozbegi&nbsp;kartvelishvili" id="input-name" class="form-control">
        </div>
    </div>
    <div class="form-group required">
        <div class="col-sm-12">
            <label class="control-label" for="input-review">Your Review</label>
            <textarea name="text" rows="5" id="input-review" class="form-control"></textarea>
            <div class="help-block"><span class="text-danger">Note:</span> HTML is not translated!</div>
        </div>
    </div>
    <div class="form-group required">
        <div class="col-sm-12">
            <label class="control-label">Rating</label> &nbsp;&nbsp;&nbsp; Bad&nbsp;
            <input type="radio" name="rating" value="1"> &nbsp;
            <input type="radio" name="rating" value="2"> &nbsp;
            <input type="radio" name="rating" value="3"> &nbsp;
            <input type="radio" name="rating" value="4"> &nbsp;
            <input type="radio" name="rating" value="5"> &nbsp;Good
        </div>
    </div>
    <div class="buttons clearfix">
        <div class="pull-right">
            <button type="button" id="button-review" data-loading-text="Loading..." class="btn btn-primary">Continue</button>
        </div>
    </div>
</form>